html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.button {
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family:  "Courier New";
  font-weight: bold;
}

